<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
		<div style="max-width: 600px; margin: 10px auto; padding: 15px; font-family: Lato,Helvetica,Arial,Lucida,sans-serif; border: 1px solid #2369ff; color:#000000; line-height: 1.6; text-align: center; background-color: white;">
			<p style="text-align: center;"></p>
			<div class="email-text" style="text-align: left;font-family: Lato,Helvetica,Arial,Lucida,sans-serif; color:#000000;">
		    <p>Hi there, {{ first_name }}</p>
		    <p>This is our first email.</p>
			</div>
		</div>
  </body>
</html>
